<div class="container">
  <h3>Posts collection</h3>
  <div class="row">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
      <div class="form-group">
        <label for="username">Name:</label>
        <input type="username" class="form-control" placeholder="username" formControlName="username">
      </div>
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" placeholder="Enter email" formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" placeholder="password" formControlName="password">
      </div>
      <div class="form-group">
        <label for="firstname">Firstname:</label>
        <input type="firstname" class="form-control" placeholder="firstname" formControlName="firstname">
      </div>
      <div class="form-group">
        <label for="lastname">Lastname:</label>
        <input type="lastname" class="form-control" placeholder="lastname" formControlName="lastname">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <div class="row shadow-none p-4 mb-4 bg-light">
    <button class="btn btn-primary" (click)="refresh()">Refresh</button>
    <table class="table">
      <tr *ngFor="let user of users | async">
        <td>
          {{user.username}}
        </td>
        <td>
          {{user.email}}
        </td>
    </table>
  </div>
</div>
